:root{
    --background : #363537;
    --primary : #2a292b;
    --accent : #FFA7BA;
    --secondary : #787878;
    --blacktrans : #00000099;

    --image-ratio : 5;
}

html {
    overflow-y: scroll;
}

body {
    background-image: url('Images/Background.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

body::before {
    content: "";
    position: fixed; /* Use fixed to keep it in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 53, 55, 0.7); /* Dark overlay effect */
    backdrop-filter: blur(5px);
    z-index: 0; 
}

iframe{
    height: 90vh;
}

* {
    position: relative; /* Ensures content appears above the overlay */
}


div{
    padding: 15px;
    margin: 0 0 15px 0;
}

h2{
    color: white;
    font-size: x-large;
    font-weight: 600;
    margin: 5px 0;
}

a {
    color: var(--accent);
    font-weight: 100;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }


.container{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.profile-container {
    width: 200px; 
    height: 200px; 
    margin: 10px;
    border-radius: 50%;
    display: inline-block; 
    overflow: hidden; 
    position: relative;
  }
  
  .profile-container img {
    position: absolute; 
    top: 50%; /* Centers the image vertically */
    left: 50%; /* Centers the image horizontally */
    transform: translate(-50%, -50%);
    width: 100%; 
    height: auto; 
    object-fit: cover;
  }

.text-block{
    margin: 30px 10px ;
    border-radius: 10px;
    background-color: var(--blacktrans);
    color: white;
    width: 50%;
}

.content-block{
    margin: 30px 10px ;
    border-radius: 10px;
    background-color: var(--blacktrans);
    color: white;
    width: 80%;
    overflow: hidden;
}

.in-progress{
    display: none;
}

/*Style for skills*/
.skills-container {
    width: 100%;
    height: 40vh;
    margin: 0px;
    padding: 20px 0px;
    display: flex;
    overflow-x: auto;
    cursor: grab;
    position: relative;
}

    .skills-container::-webkit-scrollbar{
        display: none;
    }

    .blurred-left{
        top: 0;
        left: -19rem;
        background: var(--blacktrans);
        position: absolute;
        width: 18rem;
        height: 18rem;
        z-index: 1;
        filter: blur(15px);
    }

    .blurred-right{
        top: 0;
        left: calc(100% - 1rem);
        background: var(--blacktrans);
        position: absolute;
        width: 18rem;
        height: 18rem;
        z-index: 1;
        filter: blur(15px);
    }

.skills-card{
    background-color: var(--background);
    border-radius: 1rem;
    transition: transform 0.5s ease;
    padding: 20px;
    margin: 0 10px;
    width: 10rem;
    height: 15rem;
    cursor: grab;
    flex-shrink: 0; 
    user-select: none;
}

    .skills-card:active {
        cursor: grabbing; 
    }

    .skills-card:hover{
        scale: 110%;
        transition: transform 0.5s ease;
    }

    .skills-card .image-wrapper{
        background: white;
        border-radius: 1rem;
        user-select: none;
        width: 8rem;
        height: 8rem;
        margin-bottom: 20px;
    }

    .skills-card img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

/*-------------------------------------------------------------------*/

/*Style for Table*/
.table-div{
    width: 80%;
    background-color: var(--blacktrans);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: white;
}

.table-section{
    display: none;
    padding: 0px;
    margin: 0px;
}

.table-section-selected{
    display: auto;
    padding: 0px;
    margin: 0px;
}

.table-control{
    margin: 10px;
    width: min-content;
    border-radius: 15px;
    background-color: #ffa7ba;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.marks-table {
    table-layout: fixed;
    height: 100%;
    border-collapse: collapse; 
    width: 100%;
    color: black;
}

.marks-table td:nth-child(2), .marks-table th:nth-child(2) {
    width: 30%; 
}

.marks-table tr:nth-child(even) { /* Style for even rows */
    background-color: #d3d3d3B3; 
}

.marks-table tr:nth-child(odd) { /* Style for odd rows */
    background-color: #d3d3d3CC; 
}

.table-icon{
    margin: 0px;
    height: auto;
    width: 50px;
    transition: transform 0.3s ease;
}

    .table-icon:hover{
        transform: scale(1.5);
        cursor: pointer;
        transition: transform 0.3s ease;
    }

.download-icon{
    margin: 0px;
    height: auto;
    width: 40px;
    transition: transform 0.3s ease;
}

    .download-icon:hover{
        transform: scale(1.25);
        cursor: pointer;
        transition: transform 0.3s ease;
    }

.marks-table th, 
.marks-table td {
    /*border: 2px solid lightgray; */
    padding: 10px;
    text-align: left;
    height: 25px;
    white-space: nowrap;
}

.marks-table tr:first-child th {
    background-color: #ffa7ba;
}

/* Style for the Year rows */
.marks-table tr:nth-child(9n+1) td {
    font-weight: bold;
    text-align: center;
    width: 100%;
}
/*----------------------------------------------------------------------*/

/*Navbar styling */
.navbar{
    display: flex;
    align-items: center;
    background-color: var(--background);
    padding: 10px;
    border-bottom: 5px solid var(--accent);
}

    .nav-item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 15px;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
        color: white;
        font-size: large;
        font-weight: 600;
    }

    .nav-item:hover{
        background-color: var(--secondary);
        cursor: pointer;
    }

    .nav-item-selected{
        background-color: var(--accent) !important;
    }
/*----------------------------------------------------------------------*/

.hidden {
    display: none !important;
}

.project-header {
    background-color: var(--accent);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

    .project-header .toggle-icon {
        margin: 0 0 0 20px;
        display: inline-block;
        transition: transform 0.3s ease; /* Smooth rotation */
    }

.project-container {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.project-card{
    max-height: 0px;
    padding: 0px 25px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    background-color: var(--blacktrans);
    color: white;
}

    .project-card.open {
        max-height: 200%;  /* Adjust as needed */
    }


.project-card h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.project-card a{
    font-weight: 600;
    color: var(--accent);
}

.project-card p {
    font-size: 1.1em;
    line-height: 1.5;
}

.project-section {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.project-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}

.project-gallery figure {
    text-align: center;
    max-width: 30%;
}

.project-gallery figcaption {
    font-size: 0.9em;
    color: white;
    margin-top: 5px;
}